[Desktop Entry]
Name=FKInstall
Comment=Package Manager for PacMan
Exec=fkinstall
Icon=kapman
Terminal=false
Type=Application
Categories=Utility;System;
